body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    background: white;
}

header {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    color: #062668;
}

hr {
    border: 0.5px solid #000;
}

section {
    background: white;
    margin: 14px 0;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #062668;
    padding-bottom: 5px;
    color: #062668;
}

h3 {
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

.Me {
    font-size: 16px;
    text-align: center;
}

.date {
    font-size: 14px;
    margin-bottom: 20px;
}
